<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .hoverable:hover{
            color:lightgreen;
        }
        .hoverable{
            font-size:1.3em;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid ">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Exchange</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <div class="navbar-text">Logged as Example User</div>
                    <div class="navbar-text"><span class="glyphicon glyphicon-cog hoverable"></span></div>
                    <div class="navbar-text"><span class="glyphicon glyphicon-off hoverable"></span></div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h3>Currencies</h3>
                <hr>
                <table class="table table-responsive table-striped">
                    <thead>
                    <th>Currency</th>
                    <th>Unit</th>
                    <th>Value</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Buy</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Buy</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Buy</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h3>My wallet</h3>
                <hr>
                <table class="table table-responsive table-striped">
                    <thead>
                    <th>Currency</th>
                    <th>Unit</th>
                    <th>Amount</th>
                    <th>Value</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>1</td>
                        <td>1</td>
                        <td>5.83</td>
                        <td>
                            <button class="btn btn-success" role="button">Sell</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h4>Available PLN: 1500</h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>