<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ExchangeApp</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .hoverable:hover{
            color:lightgreen;
        }
        .hoverable{
            font-size:1.3em;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid ">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ExchangeApp</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <div class="navbar-text">Logged as Example User</div>
                    <div class="navbar-text"><span class="glyphicon glyphicon-cog hoverable"></span></div>
                    <div class="navbar-text"><span class="glyphicon glyphicon-off hoverable"></span></div>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <!-- TUTAJ WKLEJASZ ZAWARTOSC SWOJEJ STRONY -->
        <h1>TUTAJ</h1>
    </div>
</div>

</body>
</html>